{% include base_path %}

{% if post.teaser %}
  {% capture teaser %}{{ post.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <div style="display: flex; gap: 1rem; align-items: center; margin:0">
      <div class="archive__item-teaser" style="flex: 1;">
        <img src=
          {% if teaser contains "://" %}
            "{{ teaser }}"
          {% else %}
            "{{ teaser | prepend: "/images/" | prepend: base_path }}"
          {% endif %}
          alt="">
      </div>
    
    <div style="flex: 3;">
    <p>
    <h3 class="archive__item-title" itemprop="headline">
      {% if post.link %}
        <a href="{{ post.link }}" class="big-text">{{ title }}</a> <a href="{{ base_path }}{{ post.url }}" rel="permalink"><i class="fa fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
      {% else %}
        <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ title }}</a>
      {% endif %}
    </h3>
    {% for auth in post.author %}
      {% if auth.site %}
        <a href="{{ auth.site }}" class="my-link">{{ auth.name }}</a>
      {% else %}
        {{ auth.name }}
      {% endif %}
    {% endfor %}
    <br/>
    {% if post.venue %}
    <i>{{ post.venue }}</i>, {{ post.date | default: "1900-01-01" | date: "%Y" }}
    {% else %}
    <i> Preprint </i>
    {% endif %}
    <br/>
    Links: 
        {% if post.website %}
        <a href=" {{ post.website }} ">Website</a>,
        {% endif %}
        <a href={% if post.paperurl contains "://" %}
                    "{{ post.paperurl }}"
                {% else %}
                    "{{ post.paperurl | prepend: "/files/" | prepend: base_path }}"
                {% endif %}>Paper</a> 
        {% if post.code %},
        <a href=" {{ post.code }} ">Code</a>
        {% endif %}
        {% if post.video %},
        <a href=" {{ post.video }} ">Video</a>
        {% endif %}
        {% if post.demo %},
        <a href=" {{ post.video }} ">Demo</a>
        {% endif %}
    </p>
    </div>
  </div>
  </article>
</div>
